spring:
  application:
    name: hexalib-api
  
  datasource:
    url: jdbc:mysql://localhost:3306/hexalib_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
    
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080

jwt:
  secret: 29fb05f981705ba310cc8ed46b96de15caee040e12121ce29e1a036759b69674
  expiration: 86400000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.hexalib.api: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG